.h1{
    background-color: blue;
    color: white;
    position: sticky;
};

.city-searched {
    list-style-type: none; 
    border: 1px solid #ddd; /* Add a thin border to each list item */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Add a grey background color */
    padding: 12px; /* Add some padding */
  }


