*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sticky-topbar {
    width: 100%;
}


.header {
    margin: 2px;
    padding: 20px;
    text-align: center;
}

#welcome {
    border-color: black;
    font-weight: bold;
}


